* {
    padding: 0; 
    margin: 0; 
    text-decoration: none;
    outline: none;
}

#edit {
    margin-right: 5px;
}

.select {
    border: 1px solid #ccc !important;
    width: 466px !important;
    margin-left: 16px;
    margin-bottom: 30px;
}

.select-label {
    margin-left: 16px;
}
