@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  z-index: 1;
}
.overlayblk {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 75%);
  
}
.Auth {
  font-family: 'Work Sans', sans-serif;
  /* background-image: url(); */
  /* background: url('https://i.postimg.cc/TYjHtQR2/bglogin.jpg') no-repeat center; */
  background: url('../images/bgauthen.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: rgb(238, 238, 238);
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:grey;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
select {
  position: relative;
  display: flex;
  width: 15em;
  height: 0.5em;
  line-height: 3;
  background: rgb(238, 238, 238);
  overflow: hidden;
  border-radius: .25em;
}
select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: rgb(238, 238, 238);
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
select:hover::after {
  color: #23b499;
}
.retour{
  text-decoration: none;
  padding: 10px 30px;
  background-color: blue; 
  color: white;
  border: 1px solid gray;
  border-style:inset;
  border-radius: 12px;
  border: 2px solid #46a28d;
  margin-top: 10px;
  }

.retour:hover {
  background-color: red;
  color:black;
  }