/* Start Variables */
:root {
    --main-color-one: #00235B;
    --main-color-transp-one: #81b0fc59;
    --main-color-two: #E31837;
    --main-color-transp-two: #ff3467;
    --transparent-color: #0DE7FF;
    --background-color: #F1E9E9;
    --section-padding: 3rem;
}
/* Start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Start Variables */
:root {
    --main-color-one: #00235B;
    --main-color-transp-one: #81b0fc59;
    --main-color-two: #E31837;
    --main-color-transp-two: #ff3467;
    --header-foter-color: #76f;
    --transparent-color: #0DE7FF;
    --background-color: #F1E9E9;
    --section-padding: 3rem;

}

/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 103px;
    background-color: var(--header-foter-color);
}
header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 2px;
    background-color: #a2a2a2;
    bottom: 0;
    /* left: 15px; */
}
header .container img {
    width: 4.6rem;
}
header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
header .container nav .svg-nav {
    color: var(--main-color-one);
    font-size: 30px;
    align-self: center;
    cursor: pointer;
}
@media (min-width: 768px) {
    header .container nav .svg-nav {
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header .container nav .svg-nav:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--main-color-transp-one);
        width: 100%;
    }

    header .container nav .svg-nav:hover+ul li a {
        padding: 15px;
    }
}
header .container nav ul li a {
    padding: 40px 15px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.075rem;
    font-size: 1.15rem;
    position: relative;
    z-index: 2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
/* 
header .container nav ul li a:hover,
header .container nav ul li .active {
    color: var(var(--main-color-one));
    border-bottom: 1px solid var(var(--main-color-one));
} */
header .container nav ul li:hover a {
    color: var(--main-color-two);
    border-bottom: 3px solid var(--main-color-two);
}
header .container nav ul li a.active {
    color: var(--main-color-two);
    border-bottom: 3px solid var(--main-color-two);
}
/* authent Conatiner */
header .container  .authent {
    width: 15%;
    display: flex;
    margin-left: 2.9rem;
    justify-content: space-around;
}
/* SignUp Button */
header .container .authent .signup .signupButton {
    background-color: var(--main-color-one);
    box-shadow: 0px 10px 20px -3px var(--main-color-two);
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Work Sans';
    font-size: 1.35rem;
    font-weight: bold;
    padding: 15px 25px;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px black;
}
header .container .authent .signup .signupButton:hover {
    background-color: var(--main-color-two);
}
header .container .authent .signup .signupButton:active {
    position: relative;
    top: 1px;
}

/* Start HomePage */
.homepage {
    min-height: 100vh;
    background-image: url(../images/undraw_educator.svg);
    background-size: 600px 300px;
    background-size: cover;
    position: relative;
}
.homepage .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 55%)
}
.homepage .text {
    background-color: var(--main-color-transp-one);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: white;
    width: 50%;
    padding: 3rem 6rem;
    display: flex;
    justify-content: flex-end;
}
.homepage .text .content {
    max-width: 500px;
}
@media (max-width: 767px) {
    .homepage .text {
        width: 100%;
    }

    .homepage .text .content {
        width: 100%;
    }
}

.homepage .text .content h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
}

.homepage .text .content p {
    font-size: 14px;
    line-height: 2;
}
/*body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--background-color);
    scroll-behavior: smooth;
}*/

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (max-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (max-width: 992px) {
    .container {
        width: 770px;
    }
}

/* Large */
@media (max-width: 1400px) {
    .container {
        width: 1170px;
        max-width: 100%;
    }
}
/* End Global Rules */

/* Start Components */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-size: 40px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    color: var(--main-color-one);
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40%;
    height: 2px;
    background-color: #333;
    width: 120px;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -57%;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #333;
}
.main-heading p {
    width: 550px;
    margin: 0 auto 60px;
    max-width: 100%;
    color: #777;
    line-height: 2;
}
/* End Components */

/* Start Header */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 100px;
    background-color: var(--main-color-transp-one);
}
.header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 2px;
    background-color: #a2a2a2;
    bottom: 0;
    /* left: 15px; */
}
.header .container img {
    width: 95px;
}
.header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.header .container nav .svg-nav {
    color: var(--main-color-one);
    font-size: 30px;
    align-self: center;
    cursor: pointer;
}
@media (min-width: 768px) {
    .header .container nav .svg-nav {
        display: none;
    }
}
.header nav ul {
    display: flex;
}
@media (max-width: 767px) {
    .header nav ul {
        display: none;
    }
    .header .container nav .svg-nav:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--main-color-transp-one);
        width: 100%;
    }

    .header .container nav .svg-nav:hover+ul li a {
        padding: 15px;
    }
}
.header .container nav ul li a {
    padding: 40px 15px;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.075rem;
    font-size: 1.15rem;
    position: relative;
    z-index: 2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .container nav ul li a:hover,
.header .container nav ul li .active {
    color: var(var(--main-color-one));
    border-bottom: 1px solid var(var(--main-color-one));
}
/* authent Conatiner */
.header .container  .authent {
    width: 25%;
    display: flex;
    margin-left: 2.9rem;
    justify-content: space-around;
}
/* SignUp Button */
.header .container .authent .signup .signupButton {
    background-color: var(--main-color-one);
    box-shadow: 0px 10px 20px -3px var(--main-color-two);
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Work Sans';
    font-size: 1.29rem;
    font-weight: bold;
    padding: 12px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 0px 1px 0px black;
}
.header .container .authent .signup .signupButton:hover {
    background-color: var(--main-color-two);
}
.header .container .authent .signup .signupButton:active {
    position: relative;
    top: 1px;
}
/* SignIn Button */
.header .container .authent .signin .signinButton {
    background-color: transparent;
    box-shadow: 0px 10px 20px -3px var(--main-color-one);
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: var(--main-color-one);
    border: 1px solid black;
    font-family: 'Work Sans';
    font-size: 1.29rem;
    font-weight: bold;
    padding: 12px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 0px 1px 0px black;
}

.header .container .authent .signin .signinButton:hover {
    background-color: var(--main-color-two);
}

.header .container .authent .signin .signinButton:active {
    position: relative;
    top: 1px;
}
/* Start HomePage */
.homepage {
    min-height: 100vh;
    background-image: url("../images/undraw_educator.svg");
    background-size: 600px 300px;
    background-size: cover;
    position: relative;
}
.homepage .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 55%)
}
.homepage .text {
    background-color: var(--main-color-transp-one);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: white;
    width: 50%;
    padding: 3rem 6rem;
    display: flex;
    justify-content: flex-end;
}
.homepage .text .content {
    max-width: 500px;
}
@media (max-width: 767px) {
    .homepage .text {
        width: 100%;
    }

    .homepage .text .content {
        width: 100%;
    }
}

.homepage .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.homepage .text .content p {
    font-size: 14px;
    line-height: 2;
}
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 40px 50px;
    }
}
.services .srv-box {
    display: flex;
    margin: 0 auto;
    flex: 1;
}
.services .srv-box svg {
    flex-basis: 25%;
    margin: 0 20px;
    color: var(--main-color-one);
}
@media (max-width: 767px) {
    .services .srv-box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
        align-items: center;
    }

    .services .srv-box svg {
        margin: 0 0 30px;
    }
}
.services .srv-box h3 {
    margin-bottom: 10px;
    color: var(--main-color-one);
    font-weight: 400;
}
.services .srv-box p {
    line-height: 1.5;
    color: #777;
}
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 500px;
    position: relative;
    /*background-image: url("../images/design-feature.jpg");*/
    background-size: cover;
    display: flex;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 55%)
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
    position: relative;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: absolute;
    left: 0;
    transform: translateY(-2.2rem);
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--main-color-transp-one);
    align-items: center;
}

@media (max-width: 767px) {
    .design .text {
        padding: 20px;
    }
}

.design .text h2 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 10px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    content: url('https://api.iconify.design/zondicons/education.svg?width=30&height=30');
    margin-right: 10px;
    font-weight: 900;
}

/* End Design */
/* Start About */
/* Start About */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about .apropo {
    display: flex;
}
.about .apropo p {
    flex-basis: 60%;
}
.about .apropo .imgcontner {
    flex-basis: 40%;
}
.about .apropo .imgcontner img {
    width: 100%;
    z-index: -1;
}

/* End About */
/*

@media (max-width: 768px) {
    .about img {
        bottom: -145px;
        margin-top: -230px;
    }
}

/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-color-transp-one);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 60%;
}

.contact .content form .main-input {
    display: block;
    padding: 15px;
    border: 1px solid #CCC;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form input[type="submit"] {
    background-color: var(--main-color-one);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content form input[type="submit"]:hover {
    background-color: var(--main-color-transp-two);
    color: var(--main-color-one);
    font-weight: bold;
}
.contact .content .infos {
    flex-basis: 40%;
}

@media (max-width: 767px) {
    .contact .content .infos {
        order: -1;
        text-align: center;
    }
}
.contact .content .infos img{
    width: 100%;
}
/* End Contact */
/* Start Footer */
div.footer {
    font-size: 1rem;
    text-align: center;
    background-color: var(--header-foter-color);
    color: white;
    padding: 20px 0px;
    display: block;
}

a.footer-link {
    color: blue;
    font-weight: bold;
}

a.footer-link:hover {
    color: black;
}

p.footer-parag {
    margin: 0;
    padding: 0;
}
/* End Footer */